In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('assets/student_habits_performance.csv')

In [5]:
df

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

In [7]:
df.loc[df['gender'] == 'Female', 'study_hours_per_day'].mean()

np.float64(3.583783783783784)

In [8]:
df.loc[[0, 1]]

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0

In [11]:
df.loc[range(0,10), ['gender', 'age']]

   gender  age
0  Female   23
1  Female   20
2    Male   21
3  Female   23
4  Female   19
5    Male   24
6  Female   21
7  Female   21
8  Female   23
9  Female   18

In [16]:
df.loc[0:10, 'age':'social_media_hours']

    age  gender  study_hours_per_day  social_media_hours
0    23  Female                  0.0                 1.2
1    20  Female                  6.9                 2.8
2    21    Male                  1.4                 3.1
3    23  Female                  1.0                 3.9
4    19  Female                  5.0                 4.4
5    24    Male                  7.2                 1.3
6    21  Female                  5.6                 1.5
7    21  Female                  4.3                 1.0
8    23  Female                  4.4                 2.2
9    18  Female                  4.8                 3.1
10   19  Female                  4.6                 3.7

In [18]:
df.iloc[[0, 1], [2, 3]]

   gender  study_hours_per_day
0  Female                  0.0
1  Female                  6.9

In [19]:
df.iloc[0:3, 1:4]

   age  gender  study_hours_per_day
0   23  Female                  0.0
1   20  Female                  6.9
2   21    Male                  1.4